<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CostCategories" value="Auto;Dining;Grocery;Home;Interest;Loans;Luxury;Mortgage;Paycheck;Payment;Travel;Utilities;Work"/>
    <add key="SearchDirectory" value="C:\"/>
    <add key="DatabasePath" value="C:\Data\Database\home.db"/>
  </appSettings>
</configuration>